<%= form_for([current_user, @post, @post.comments.new(parent_id: parent_id)], remote: true) do |f| %>
    <%= f.hidden_field :parent_id %>
  
    <div class="form-group">
      <%= f.text_area :content, class: 'form-control' %>
    </div>

    <%= f.submit "Leave a comment", class: "btn btn-primary" %>
<% end %>