<% provide(:page_heading, "About Us") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquid cum dolorem, dolores dolorum earum enim magni maiores non odit, optio possimus quibusdam, reiciendis totam voluptatibus. Nisi, perferendis sed. Et.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias asperiores at autem delectus dicta eius facilis illum ipsam necessitatibus nobis non obcaecati officia officiis, quidem quis sequi totam unde voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolore error molestiae pariatur perferendis quae, quis reiciendis reprehenderit repudiandae temporibus. Animi, cupiditate minima quae ratione sunt voluptatem! Dolores et, vel!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi at atque consequatur debitis dolorem ea enim eveniet exercitationem facilis harum id iusto mollitia natus neque, odio reprehenderit tempora voluptates.</p>
  </div>
</div>
